/*
selector{

*/
#presentacion{
    height: 88vh;
    display: flex;
    justify-content: center;
}
.row {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
#Proyectos{
    color: black;
}
